@font-face {
   font-family: "InterTight";
   src: url(../fonts/InterTight-Regular.woff2) format("woff2");
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}

@font-face {
    font-family: "InterTight";
    src: url(../fonts/InterTight-Thin.woff2) format("woff2");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "InterTight";
    src: url(../fonts/InterTight-ThinItalic.woff2) format("woff2");
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "InterTight";
    src: url(../fonts/InterTight-ExtraLight.woff2) format("woff2");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "InterTight";
    src: url(../fonts/InterTight-ExtraLightItalic.woff2) format("woff2");
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "InterTight";
    src: url(../fonts/InterTight-Light.woff2) format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "InterTight";
    src: url(../fonts/InterTight-LightItalic.woff2) format("woff2");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "InterTight";
    src: url(../fonts/InterTight-Italic.woff2) format("woff2");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "InterTight";
    src: url(../fonts/InterTight-Medium.woff2) format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "InterTight";
    src: url(../fonts/InterTight-MediumItalic.woff2) format("woff2");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "InterTight";
    src: url(../fonts/InterTight-SemiBold.woff2) format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "InterTight";
    src: url(../fonts/InterTight-SemiBoldItalic.woff2) format("woff2");
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "InterTight";
    src: url(../fonts/InterTight-Bold.woff2) format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "InterTight";
    src: url(../fonts/InterTight-BoldItalic.woff2) format("woff2");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "InterTight";
    src: url(../fonts/InterTight-ExtraBold.woff2) format("woff2");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "InterTight";
    src: url(../fonts/InterTight-ExtraBoldItalic.woff2) format("woff2");
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "InterTight";
    src: url(../fonts/InterTight-Black.woff2) format("woff2");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "InterTight";
    src: url(../fonts/InterTight-BlackItalic.woff2) format("woff2");
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}
