html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 300px;
  min-height: 100%;
  font-size: 16px;
  color: var(--black);
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: inherit;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.site-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  position: relative;
  flex: 1 0 auto;
}

.container {
  margin: 0 auto;
  max-width: 100%;
  padding: 0 px-to-vw(64px, 1440); // 120px для media 1440;
  // padding: 0 px-to-vw(120px, 1440); // 120px для media 1440;

  @include small-desktop {
    padding: 0 40px;
  }

  @include tablet {
    padding: 0 32px;
  }

  @include small-tablet {
    padding: 0 24px;
  }

  @include mobile {
    padding: 0 16px;
  }

  // @include desktop {
  //   padding: 0 clamp(64px, (px-to-vw(64px, 1440)), 64px);
  // }

  // @include small-desktop {
  //   padding: 0 clamp(36px, (px-to-vw(40px, 1280)), 64px);
  // }

  // @include tablet {
  //   padding: 0 clamp(30px, (px-to-vw(32px, 1023)), 40px);
  // }

  // @include small-tablet {
  //   padding: 0 clamp(18px, (px-to-vw(24px, 768)), 30px);
  // }

  // @include mobile {
  //   padding: 0 clamp(16px, (px-to-vw(16px, 576)), 18px);
  // }
}

.content-overlay {
  position: relative;
  z-index: 10;
  margin-top: 100vh;
  background-color: var(--white);
  min-height: 100vh;

  @include mobile {
    margin-top: 630px;
  }

  &--production {
    margin-top: clamp(500px, px-to-vw(500px, 1440), 1000px);
    padding-top: clamp(40px, px-to-vw(40px, 1440), 80px);

    @include small-tablet {
      margin-top: clamp(480px, px-to-vw(500px, 768), 1000px);
    }

    @include mobile {
      padding-top: clamp(24px, px-to-vw(24px, 576), 24px);
    }

    @include small-mobile {
      margin-top: clamp(417px, px-to-vw(417px, 375), 480px);
    }
  }
}

.sec-title {
  margin: 0;
  font-weight: 500;
  font-size: px-to-vw(16px, 1440);
  line-height: 120%;
  text-transform: uppercase;
  color: var(--accent);

  @include small-desktop {
    font-size: clamp(14px, px-to-vw(14px, 768), 16px);
  }
}

.btn {
  @include btn-reset;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border);
  border-radius: 1000px;
  padding: px-to-vw(12px, 1440) px-to-vw(24px, 1440);
  font-weight: 500;
  font-size: px-to-vw(16px, 1440);
  line-height: 120%;
  text-align: center;
  color: var(--black);
  outline: none;
  cursor: pointer;
  transition:
    color var(--transition-300),
    border-color var(--transition-300);

  &:focus-visible {
    border-color: var(--accent);
    color: var(--accent);
  }

  &:hover {
    border-color: var(--accent);
    color: var(--accent);
  }
}
