:root {
  --font-family: "InterTight", "Arial", sans-serif;
  --content-width: 1312px;

  //Animation
  --transition-300: 0.3s ease-in-out;
  --transition-500: 0.5s ease-in-out;

  // Colors
  // --black: #000404;
  // --black-400: rgba(0, 4, 4, 0.4);
  // --black-560: rgba(0, 4, 4, 0.56);
  // --grey: #585858;
  // --border: #c3c4c8;
  // --bg: #f7f7f7;
  // --white: #fff;
  // --white-160: rgba(255, 255, 255, 0.16);
  // --white-560: rgba(255, 255, 255, 0.56);
  // --accent: #ce1f00;
  // --accent-dark: #a31a02;
  // --green: #2eaf00;

  // --color-gray-medium: #D7D9DB;
  // --color-gray-light: #F5F5F7;

  //ТАЛАНТЕК
  --black: #000404;
  --black-400: rgba(0, 4, 4, 0.4);
  --black-560: rgba(0, 4, 4, 0.56);
  --grey: #585858;
  --border: #c3c4c8;
  --bg: #f7f7f7;
  --white: #fff;
  --white-160: rgba(255, 255, 255, 0.16);
  --white-560: rgba(255, 255, 255, 0.56);
  --accent: #e73f24;
  --accent-dark: #ab2f1c;
  --green: #2eaf00;
}
