.form-argee {
  position: relative;

  & label {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;

    & span.wpcf7-list-item-label {
      position: relative;
      padding-left: px-to-vw(30px, 1440);
      font-weight: 400;
      font-size: px-to-vw(14px, 1440);
      line-height: 120%;
      color: currentColor;
      transition: color var(--transition-300);

      @include desktop {
        padding-left: 30px;
        font-size: 14px;
      }

      @include tablet {
        font-size: clamp(14px, px-to-vw(16px, 1024), 16px);
      }

      @include small-tablet {
        color: var(--border);
      }

      @include small-mobile {
        font-size: clamp(12px, px-to-vw(14px, 375), 14px);
      }

      & a {
        position: relative;
        z-index: 2;
        font-weight: inherit;
        font-size: inherit;
        line-height: inherit;
        color: inherit;
        transition: color var(--border);
        text-decoration: none;
        transition: color var(--transition-300);

        &:focus {
          outline: none;
          color: var(--accent);
        }

        &:hover {
          color: var(--accent);
        }
      }

      // КВАДРАТИК
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        flex-shrink: 0;
        display: block;
        width: px-to-vw(18px, 1440);
        height: px-to-vw(18px, 1440);
        border: 1px solid var(--white-560);
        border-radius: px-to-vw(4px, 1440);
        background-color: transparent;
        transition: all var(--transition-300);
        cursor: pointer;

        @include desktop {
          width: clamp(16px, px-to-vw(18px, 1440), 18px);
          height: clamp(16px, px-to-vw(18px, 1440), 18px);
          border-radius: 4px;
        }
      }

      // ГАЛОЧКА
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 0.6vw;
        transform: translate(-50%, -60%) rotate(45deg);
        width: px-to-vw(5px, 1440);
        height: px-to-vw(9px, 1440);
        border: solid var(--white);
        border-width: 0 px-to-vw(2px, 1440) px-to-vw(2px, 1440) 0;
        opacity: 0;
        visibility: hidden;
        transition: all var(--transition-300);

        @include desktop {
          left: clamp(8px, 0.6vw, 9px);
          width: clamp(4px, px-to-vw(5px, 1440), 6px);
          height: clamp(7px, px-to-vw(9px, 1440), 10px);
          border-width: 0 2px 2px 0;
        }
      }
    }

    input[type="checkbox"] {
      position: absolute;
      opacity: 0;
      visibility: hidden;
    }

    // СОСТОЯНИЯ
    input[type="checkbox"]:focus-visible ~ span.wpcf7-list-item-label::before {
      border-color: var(--accent);
      background-color: var(--accent);
    }

    input[type="checkbox"]:hover ~ span.wpcf7-list-item-label::before {
      border-color: var(--accent);
      background-color: var(--accent);
    }

    input[type="checkbox"]:checked ~ span.wpcf7-list-item-label::before {
      border-color: var(--accent);
      background-color: var(--accent);
    }

    input[type="checkbox"]:checked ~ span.wpcf7-list-item-label::after {
      opacity: 1;
      visibility: visible;
    }
  }

  & span.wpcf7-list-item {
    display: block;
    margin: 0;
  }

  & .wpcf7-not-valid-tip {
    position: absolute;
    top: calc(100% + 0.33em);
    left: 0;
    font-weight: 400;
    font-size: 0.7638888889vw;
    line-height: 110%;
    color: var(--accent);
    z-index: 2;

    @include desktop {
      font-size: 11px;
    }
  }
}
