/* ========== Компактная шапка ========== */
.header-compact {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;
  color: var(--white);
  transition:
    transform var(--transition-300),
    background-color 0.2s ease-out;

  @media (max-width: 1024px) {
    border-bottom: 1px solid var(--white-160);
  }

  &.header--hidden {
    transform: translateY(-100%);
  }

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(8px);
    background-color: var(--black-400);
    opacity: 0;
    transition:
      background-color var(--transition-300),
      opacity var(--transition-300);
  }

  &.scroll::after {
    opacity: 1;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.1111111111vw 0;

    @media (max-width: 1440px) {
      padding: 16px;
    }

    @media (max-width: 1024px) {
      gap: 15px;
    }

    @media (max-width: 970px) {
      padding: 12px 0;
    }

    @media (max-width: 768px) {
      padding: 10px 0;
    }

    @media (max-width: 375px) {
      padding: 8px 0;
    }
  }

  &__menu,
  &__action {
    width: 100%;
    max-width: 29.9722222222vw;

    @media (max-width: 1440px) {
      max-width: 432px;
    }
  }

  &__menu {
    &.topmenu {
      @media (max-width: 1280px) {
        justify-content: end;
        /* display: none; */
      }

      @media (max-width: 1024px) {
        display: none;
      }
    }
  }

  &__logo {
    display: flex;
    align-items: flex-start;
    justify-content: start;
    width: 9.375vw;
    flex-shrink: 0;

    @media (max-width: 1440px) {
      width: 135px;
    }

    &:focus-visible {
      outline: 1px solid var(--white-160);
      outline-offset: 0.4166666667vw;

      @media (max-width: 1440px) {
        outline-offset: 6px;
      }
    }
  }

  &__menu-link {
    font-size: clamp(14px, 0.9722222222vw, 32px);
  }

  &__action {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2.7777777778vw;

    @media (max-width: 1440px) {
      gap: 40px;
    }

    @media (max-width: 1024px) {
      gap: 8px;
    }
  }

  &__link {
    display: inline-block;
    position: relative;
    flex-shrink: 0;
    height: 1.1666666667vw;
    color: var(--white);
    outline: none;
    overflow: hidden;

    @media (max-width: 1440px) {
      height: 16.8px;
    }

    @media (max-width: 1024px) {
      height: 40px;
      width: 40px;
      border: 0.96px solid var(--white-160);
      padding: 8px;
    }

    &:focus-visible span,
    &:hover span {
      transform: translateY(-100%);
    }

    span {
      position: relative;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      font-weight: 400;
      font-size: 0.9722222222vw;
      line-height: 120%;
      text-align: center;
      color: currentColor;
      transition: transform var(--transition-300);

      @media (max-width: 1440px) {
        font-size: 14px;
      }

      @media (max-width: 1024px) {
        display: none;
      }

      &::after {
        content: attr(data-text);
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 100%;
        color: currentColor;
        transition: transform var(--transition-300);
      }
    }

    svg {
      display: none;
      width: 1.6666666667vw;
      height: 1.6666666667vw;
      stroke: currentColor;
      stroke-width: 1.5px;
      fill: none;

      @media (max-width: 1440px) {
        width: 24px;
        height: 24px;
      }

      @media (max-width: 1024px) {
        display: block;
      }
    }
  }

  &__burger {
    display: none;

    @media (max-width: 1024px) {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 40px;
      width: 40px;
      border: 0.96px solid var(--white-160);
      padding: 8px;
      cursor: pointer;
    }
  }
}
