.hero {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100vh;
  display: flex;

  @include mobile {
    max-height: 630px;
  }

  &__container {
    position: relative;
    z-index: 5;
    display: flex;
    align-items: center;
    width: 100%;
  }

  &__content {
    // margin-top: px-to-vw(105px, 1440);
    // margin-bottom: px-to-vw(273px, 1440);
    width: 100%;
    color: var(--white);
    display: flex;
    flex-direction: column;
    gap: clamp(32px, px-to-vw(32px, 1440), 64px);
    padding-top: px-to-vw(301px, 1440);
    padding-bottom: px-to-vw(354px, 1440);

    @include tablet {
      align-items: start;
    }

    @include small-tablet {
      padding-top: px-to-vw(96px);
      padding-bottom: px-to-vw(248px);
    }
  }

  &__textcontent {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: clamp(32px, px-to-vw(32px, 1440), 64px);

    @include tablet {
      flex-direction: column;
      align-items: start;
      gap: clamp(8px, px-to-vw(16px, 768), 24px);
    }
  }

  &__title {
    margin: 0;
    max-width: 60%;
    font-weight: 500;
    font-size: px-to-vw(40px, 1440);
    line-height: 110%;
    text-transform: uppercase;
    color: inherit;

    @include small-desktop {
      font-size: clamp(36px, px-to-vw(38px, 1280), 40px);
      max-width: 60%;
    }

    @include mobile {
      max-width: 100%;
    }

    &--main {
      max-width: px-to-vw(500px, 1440);

      @include small-desktop {
        max-width: 500px;
      }

      @include mobile {
        max-width: 100%;
      }
    }
  }

  &__description {
    margin: 0;
    max-width: px-to-vw(431px, 1440);
    font-weight: 400;
    font-size: clamp(16px, px-to-vw(16px, 1440), 32px);
    line-height: 120%;
    text-transform: uppercase;
    color: inherit;

    @include tablet {
      max-width: px-to-vw(500px, 1024);
    }

    @include small-tablet {
      max-width: px-to-vw(431px, 768);
      font-size: clamp(14px, px-to-vw(16px, 768), 16px);
    }

    @include mobile {
      max-width: px-to-vw(260px, 375);
    }
  }

  &__link {
    align-self: flex-end;
    display: flex;
    align-items: flex-start;
    width: px-to-vw(431px, 1440);
    min-width: 175px;

    @include tablet {
      align-self: start;
    }
  }

  &__bg {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  // Hero--page

  &--page {
    height: 100%;
    max-height: clamp(500px, px-to-vw(500px, 1440), 1000px);

    @include small-tablet {
      max-height: clamp(480px, px-to-vw(500px, 768), 500px);
    }

    @include small-mobile {
      max-height: clamp(417px, px-to-vw(417px, 375), 480px);
    }
  }

  &--page &__content {
    width: 100%;
    color: var(--white);
    display: flex;
    flex-direction: column;
    gap: 0;
    padding-top: px-to-vw(104px, 1440);
    padding-bottom: px-to-vw(60px, 1440);

    @include small-desktop {
      // padding-top: 80px;
      padding-top: clamp(90px, px-to-vw(90px, 1280), 104px);
      padding-bottom: clamp(40px, px-to-vw(40px, 1280), 60px);
    }

    @include tablet {
      // padding-top: 80px;
      padding-top: clamp(40px, px-to-vw(40px, 1024), 90px);
      align-items: start;
    }

    @include small-tablet {
      padding-top: px-to-vw(258px, 768);
      padding-bottom: px-to-vw(248px, 768);
    }

    @include small-mobile {
      padding-top: px-to-vw(96px, 375);
      padding-bottom: px-to-vw(64px, 375);
    }
  }

  &--page &__textcontent {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    gap: clamp(12px, px-to-vw(16px, 1440), 40px);
    margin-bottom: clamp(32px, px-to-vw(40px, 1440), 80px);
  }

  &--page &__description {
    max-width: px-to-vw(500px, 1440);
    font-size: clamp(16px, px-to-vw(16px, 1440), 36px);
    text-transform: inherit;
    color: inherit;

    @include tablet {
      max-width: px-to-vw(500px, 1024);
    }

    @include small-tablet {
      max-width: 70%;
      font-size: clamp(14px, px-to-vw(16px, 1440), 16px);
    }

    @include mobile {
      max-width: 100%;
    }
  }

  &--page &__link {
    align-self: flex-start;
    display: flex;
    align-items: flex-start;
    width: fit-content;
  }
}
