.hero-bg {
  max-width: 100%;

  // .hero-bg__img
  &__img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  // .hero-bg__mask
  &__mask {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    padding: 0 px-to-vw(64px, 1440); // 64px для media 1440;
    width: 100%;
    max-height: px-to-vw(273px, 1440);
    aspect-ratio: 1312 / 273;

    // @include desktop {
    //   max-height: 273px;
    // }

    @include small-desktop {
      padding: 0 clamp(32px, px-to-vw(40px, 1280), 64px);
    }

    @include tablet {
      padding: 0 clamp(24px, px-to-vw(32px, 1024), 40px);
    }

    @include small-tablet {
      padding: 0 clamp(16px, px-to-vw(24px, 768), 32px);
    }

    @include mobile {
      padding: 0 clamp(16px, px-to-vw(16px, 375), 24px);
      aspect-ratio: 342 / 75;
    }
  }

  // .hero-bg__mask-inner
  &__mask-inner {
    width: 100%;
    height: 100%;

    /* Используем CSS переменную из основного изображения */
    // background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1)),
    // url('../img/hero/hero.jpg');
    // background-size: cover;
    // background-position: center bottom;
    // background-repeat: no-repeat;

    // /* Фильтры для осветления */
    filter: brightness(1.2) contrast(1.2);
    mix-blend-mode: overlay;

    // /* SVG маска - ВАЖНО: fill="black" */
    -webkit-mask-image: url('data:image/svg+xml;utf8,<svg width="1312" height="273" viewBox="0 0 1312 273" xmlns="http://www.w3.org/2000/svg"><g fill="white"><text x="50%" y="50%" dominant-baseline="central" text-anchor="middle" font-family="\'Impact\', \'Arial Black\', sans-serif" font-size="320" font-weight="normal" letter-spacing="10">TALANTEC</text></g></svg>');
    // -webkit-mask-image: url('data:image/svg+xml;utf8,<svg width="1312" height="273" viewBox="0 0 1312 273" fill="white" xmlns="http://www.w3.org/2000/svg"><g><path d="M70.3162 30.5786V283.934L73.797 287.1H10.041L13.5218 283.934V30.5786L10.041 27.4117H73.797L70.3162 30.5786Z" /><path d="M153.583 175.551V283.585L156.718 286.752H97.1445L100.28 283.585V24.9424H103.761L204.101 155.847V30.5786L200.62 27.4117H260.544L257.058 30.5786V292.028H253.922L153.583 175.551Z" /><path d="M405.013 84.0664H344.738V129.454H398.041L401.176 126.288V188.573L398.041 185.406H344.738V283.933L347.873 287.1H285.51L288.645 283.933V27.4116H405.013L408.149 24.2448V87.2277L405.013 84.0664Z" /><path d="M514.29 109.047L500.706 191.386H528.58L514.991 109.047H514.29ZM540.771 244.519H488.861L479.103 283.934L482.244 287.1H417.441L421.268 283.934L484.678 30.9274L481.543 27.7605H547.738L544.257 30.9274L608.704 283.934L611.839 287.1H547.393L550.873 283.934L540.771 244.519Z" /><path d="M693.132 219.539C693.132 222.589 694.179 225.169 696.267 227.279C698.356 229.394 701.025 230.446 704.276 230.446H763.855V287.1H704.276C694.985 287.1 686.274 285.34 678.145 281.824C670.016 278.309 662.874 273.492 656.723 267.396C650.568 261.295 645.749 254.147 642.263 245.931C638.782 237.715 637.039 228.918 637.039 219.539V95.3167C637.039 85.9379 638.782 77.1405 642.263 68.9299C645.749 60.7137 650.568 53.4997 656.723 47.2878C662.879 41.0703 670.016 36.2037 678.145 32.6881C686.28 29.1669 694.99 27.4062 704.276 27.4062H761.065V84.0611H704.276C701.025 84.0611 698.356 85.1185 696.267 87.2279C694.179 89.3429 693.132 92.0336 693.132 95.3167V219.539Z" /><path d="M877.2 109.047L863.612 191.386H891.485L877.902 109.047H877.2ZM903.676 244.519H851.766L842.009 283.934L845.15 287.1H780.347L784.173 283.934L847.583 30.9274L844.448 27.7605H910.643L907.162 30.9274L971.609 283.934L974.745 287.1H910.298L913.779 283.934L903.676 244.519Z" /><path d="M1091.24 95.3221C1091.24 92.0389 1090.19 89.3427 1088.1 87.2333C1086.01 85.1239 1083.45 84.0664 1080.43 84.0664H1056.05V230.451H1080.43C1083.45 230.451 1086.01 229.399 1088.1 227.284C1090.19 225.175 1091.24 222.595 1091.24 219.544V95.3221ZM1080.43 27.4116C1089.72 27.4116 1098.43 28.8788 1106.56 31.8076C1114.69 34.7419 1121.77 39.0825 1127.81 44.8294C1133.86 50.5763 1138.62 57.6685 1142.1 66.1171C1145.59 74.5603 1147.33 84.2934 1147.33 95.3221V219.544C1147.33 231.27 1145.59 241.358 1142.1 249.807C1138.62 258.25 1133.86 265.231 1127.81 270.745C1121.77 276.26 1114.69 280.368 1106.56 283.064C1098.43 285.76 1089.72 287.106 1080.43 287.106H996.822L999.958 283.939V30.5785L996.822 27.4116H1080.43Z" /><path d="M1188.67 27.4117H1304L1306.79 24.2449V87.2279L1303.65 84.0665H1244.77V128.751H1298.77L1301.9 125.59V188.922L1298.77 185.406H1244.77V230.446H1308.87L1312 227.284V290.267L1308.87 287.1H1185.54L1188.67 283.934V27.4117Z" /></g></svg>');
    -webkit-mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;

    mask-image: url('data:image/svg+xml;utf8,<svg width="1312" height="273" viewBox="0 0 1312 273" xmlns="http://www.w3.org/2000/svg"><g fill="white"><text x="50%" y="50%" dominant-baseline="central" text-anchor="middle" font-family="\'Impact\', \'Arial Black\', sans-serif" font-size="320" font-weight="normal" letter-spacing="10">TALANTEC</text></g></svg>');
    // mask-image: url('data:image/svg+xml;utf8,<svg width="1312" height="273" viewBox="0 0 1312 273" fill="white" xmlns="http://www.w3.org/2000/svg"><g><path d="M70.3162 30.5786V283.934L73.797 287.1H10.041L13.5218 283.934V30.5786L10.041 27.4117H73.797L70.3162 30.5786Z" /><path d="M153.583 175.551V283.585L156.718 286.752H97.1445L100.28 283.585V24.9424H103.761L204.101 155.847V30.5786L200.62 27.4117H260.544L257.058 30.5786V292.028H253.922L153.583 175.551Z" /><path d="M405.013 84.0664H344.738V129.454H398.041L401.176 126.288V188.573L398.041 185.406H344.738V283.933L347.873 287.1H285.51L288.645 283.933V27.4116H405.013L408.149 24.2448V87.2277L405.013 84.0664Z" /><path d="M514.29 109.047L500.706 191.386H528.58L514.991 109.047H514.29ZM540.771 244.519H488.861L479.103 283.934L482.244 287.1H417.441L421.268 283.934L484.678 30.9274L481.543 27.7605H547.738L544.257 30.9274L608.704 283.934L611.839 287.1H547.393L550.873 283.934L540.771 244.519Z" /><path d="M693.132 219.539C693.132 222.589 694.179 225.169 696.267 227.279C698.356 229.394 701.025 230.446 704.276 230.446H763.855V287.1H704.276C694.985 287.1 686.274 285.34 678.145 281.824C670.016 278.309 662.874 273.492 656.723 267.396C650.568 261.295 645.749 254.147 642.263 245.931C638.782 237.715 637.039 228.918 637.039 219.539V95.3167C637.039 85.9379 638.782 77.1405 642.263 68.9299C645.749 60.7137 650.568 53.4997 656.723 47.2878C662.879 41.0703 670.016 36.2037 678.145 32.6881C686.28 29.1669 694.99 27.4062 704.276 27.4062H761.065V84.0611H704.276C701.025 84.0611 698.356 85.1185 696.267 87.2279C694.179 89.3429 693.132 92.0336 693.132 95.3167V219.539Z" /><path d="M877.2 109.047L863.612 191.386H891.485L877.902 109.047H877.2ZM903.676 244.519H851.766L842.009 283.934L845.15 287.1H780.347L784.173 283.934L847.583 30.9274L844.448 27.7605H910.643L907.162 30.9274L971.609 283.934L974.745 287.1H910.298L913.779 283.934L903.676 244.519Z" /><path d="M1091.24 95.3221C1091.24 92.0389 1090.19 89.3427 1088.1 87.2333C1086.01 85.1239 1083.45 84.0664 1080.43 84.0664H1056.05V230.451H1080.43C1083.45 230.451 1086.01 229.399 1088.1 227.284C1090.19 225.175 1091.24 222.595 1091.24 219.544V95.3221ZM1080.43 27.4116C1089.72 27.4116 1098.43 28.8788 1106.56 31.8076C1114.69 34.7419 1121.77 39.0825 1127.81 44.8294C1133.86 50.5763 1138.62 57.6685 1142.1 66.1171C1145.59 74.5603 1147.33 84.2934 1147.33 95.3221V219.544C1147.33 231.27 1145.59 241.358 1142.1 249.807C1138.62 258.25 1133.86 265.231 1127.81 270.745C1121.77 276.26 1114.69 280.368 1106.56 283.064C1098.43 285.76 1089.72 287.106 1080.43 287.106H996.822L999.958 283.939V30.5785L996.822 27.4116H1080.43Z" /><path d="M1188.67 27.4117H1304L1306.79 24.2449V87.2279L1303.65 84.0665H1244.77V128.751H1298.77L1301.9 125.59V188.922L1298.77 185.406H1244.77V230.446H1308.87L1312 227.284V290.267L1308.87 287.1H1185.54L1188.67 283.934V27.4117Z" /></g></svg>');
    mask-size: 100% 100%;
    mask-repeat: no-repeat;
    mask-position: center;

    @include mobile {
      background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1)), url("../img/hero/hero-mobile.jpg");

      background-size: cover;
      background-position: center bottom;
    }
  }

  // .hero-bg__filter
  &__filter {
    position: absolute;
    inset: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    background-color: var(--black-560);
  }

  // .hero-bg__line
  &__line {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 4;
    display: flex;
    margin: 0 auto;
    // padding: 0 px-to-vw(64px, 1440);
    // width: 100%;
    width: calc(100% + 2 * px-to-vw(64px, 1440));
    height: calc(100vh - px-to-vw(105px, 1440) + 1px);
    overflow: hidden;

    @include tablet {
      height: calc(100vh - px-to-vw(72px, 1024) + 1px);
    }

    & img {
      width: 100%;
      height: 100%;
      aspect-ratio: 1440 / 688;
      pointer-events: none;

      @include mobile {
        aspect-ratio: 375 / 630;
      }
    }

    &--production {
      height: 100%;
      max-height: calc(px-to-vw(500px, 1440) - px-to-vw(105px, 1440) + 1px);

      @include tablet {
        max-height: calc(px-to-vw(500px, 1440) - px-to-vw(72px, 1024) + 1px);
      }
    }
  }
}
