.sec-galleryworks {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: px-to-vw(8px, 1440);
    max-width: px-to-vw(645px, 1440);

    @include desktop {
      gap: 8px;
      max-width: 645px;
    }

    @include big-tablet {
      max-width: 100%;
    }
  }

  &__subtitle {
    margin: 0 0 56px 0;
    font-weight: 500;
    font-size: px-to-vw(48px, 1440);
    line-height: 100%;
    text-align: center;
    color: var(--black);

    @include desktop {
      font-size: 48px;
    }

    @include big-tablet {
      margin: 0 0 40px 0;
    }

    @include tablet {
      font-size: 44px;
    }

    @include small-tablet {
      margin: 0 0 24px 0;
      font-size: 36px;
    }

    @include mobile {
      font-size: 32px;
    }
  }

  &__list {
    @include list-reset;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: px-to-vw(261px, 1440);
    gap: px-to-vw(32px, 1440);
    width: 100%;
    // margin-bottom: 24px;

    @include small-desktop {
      gap: 24px;
    }

    @include small-tablet {
      grid-template-columns: 1fr 1fr;
      grid-auto-rows: px-to-vw(261px, 768);
      gap: 16px;
    }

    @include mobile {
      grid-auto-rows: px-to-vw(160px, 576);
      gap: 8px;
    }
  }

  &__item {
    &:nth-child(5n + 1),
    &:nth-child(5n) {
      grid-column: 5 span;
      grid-row: 1 span;
    }
    &:nth-child(5n + 2),
    &:nth-child(5n + 4) {
      grid-column: 3 span;
      grid-row: 1 span;
    }

    &:nth-child(5n + 3) {
      grid-column: 4 span;
      grid-row: 2 span;
    }

    @include small-tablet {
      &:nth-child(n) {
        grid-column: 1 span;
        grid-row: 1 span;
      }

      &:nth-child(5n) {
        grid-column: 2 span;
      }
    }

    &.is-hidden {
      display: none;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  &__img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__more-btn {
    margin-top: 24px;
    font-size: px-to-vw(16px, 1440);
    padding: px-to-vw(12px, 1440) px-to-vw(24px, 1440);

    @include small-desktop {
      font-size: clamp(14px, px-to-vw(24px, 1280), 16px);
      padding: 12px 24px;
    }

    @include mobile {
      margin-top: 16px;
    }

    &.is-hidden {
      display: none;
    }
  }
}
