.sec-price {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: px-to-vw(64px, 1440);

    @include desktop {
      gap: 64px;
    }

    @include big-tablet {
      gap: 40px;
    }
  }

  &__heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: px-to-vw(12px, 1440);
    max-width: px-to-vw(694px, 1440);

    @include desktop {
      gap: 12px;
      max-width: 694px;
    }

    @include big-tablet {
      max-width: 100%;
    }
  }

  &__subtitle {
    margin: 0;
    font-weight: 500;
    font-size: px-to-vw(48px, 1440);
    line-height: 100%;
    text-align: center;
    color: var(--black);

    @include desktop {
      font-size: 48px;
    }

    @include tablet {
      font-size: 44px;
    }

    @include small-tablet {
      font-size: 36px;
    }

    @include mobile {
      font-size: 24px;
    }
  }

  &__list {
    @include list-reset;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 32px;

    @include desktop {
      gap: 24px;
    }

    @include tablet {
      gap: 16px;
    }

    @include mobile {
      gap: 8px;
    }
  }

  &__item {
    grid-column: 4 span;

    @include big-tablet {
      grid-column: 6 span;
    }

    @include mobile {
      grid-column: 12 span;
    }
  }
}
