.sec-offset {
  padding-top: clamp(60px, px-to-vw(60px, 1440), 80px);
  padding-bottom: clamp(60px, px-to-vw(60px, 1440), 80px);

  @include small-tablet {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  @include mobile {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
