.sec-faq {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: px-to-vw(64px, 1440);

    @include desktop {
      gap: 64px;
    }

    @include big-tablet {
      gap: 40px;
    }
  }

  &__heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: px-to-vw(12px, 1440);
    max-width: px-to-vw(694px, 1440);

    @include desktop {
      gap: 12px;
      max-width: 694px;
    }

    @include big-tablet {
      max-width: 100%;
    }
  }

  &__subtitle {
    margin: 0;
    font-weight: 500;
    font-size: px-to-vw(48px, 1440);
    line-height: 100%;
    text-align: center;
    color: var(--black);

    @include desktop {
      font-size: 48px;
    }

    @include tablet {
      font-size: 44px;
    }

    @include small-tablet {
      font-size: 36px;
    }

    @include mobile {
      font-size: 24px;
    }
  }
}

.accordion {
  --size-icon: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;

  @include tablet {
    --size-icon: 24px;
  }
  @include mobile {
    --size-icon: 20px;
  }

  &__item {
    position: relative;
    border-top: 1px solid var(--border);
    color: var(--black);
    background-color: var(--white);
    outline: none;
    transition:
      background-color var(--transition-300),
      color var(--transition-300);

    &::before {
      content: "";
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 1px;
      z-index: 2;
      background-color: var(--accent);
      transform: scaleX(0);
      transform-origin: left center;
      transition: transform var(--transition-300);
    }

    &:hover {
      border-color: transparent;

      &::before {
        transform: scaleX(1);
      }

      .accordion__control {
        color: var(--accent);
      }
    }

    &.is-open {
      outline: none;
    }
  }

  &__control {
    @include btn-reset;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 16px;
    padding: 0.8em 1.15em;
    border-radius: inherit;
    width: 100%;
    font-weight: 500;
    font-size: px-to-vw(24px, 1440);
    line-height: 110%;
    color: inherit;
    transition:
      color var(--transition-300),
      padding-bottom var(--transition-300);

    @include tablet {
      font-size: clamp(18px, px-to-vw(20px, 1024), 24px);
    }

    @include mobile {
      gap: 8px;
      // padding: 12px 16px;
      font-size: clamp(14px, px-to-vw(16px, 375), 18px);
    }

    &:focus {
      outline: none;
    }
    .is-open & {
      padding-bottom: 16px;

      @include mobile {
        padding-bottom: 8px;
      }
    }
  }

  &__title {
    font-weight: 500;
    font-size: px-to-vw(24px, 1440);
    line-height: 110%;
    text-align: left;
    color: inherit;

    @include tablet {
      font-size: clamp(18px, px-to-vw(20px, 1024), 24px);
    }

    @include mobile {
      font-size: clamp(14px, px-to-vw(16px, 375), 18px);
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: var(--size-icon);
    height: var(--size-icon);
    color: var(--accent);
    transform: rotate(0);
    transition:
      transform var(--transition-300),
      color var(--transition-300);

    .is-open & {
      color: var(--grey-1);
    }

    & svg {
      width: var(--size-icon);
      height: var(--size-icon);
      fill: none;
      stroke: currentColor;
      stroke-width: 1.5px;
      stroke-linecap: round;
      stroke-linejoin: round;
      pointer-events: none;
      transition:
        stroke var(--transition-300),
        transform var(--transition-300);

      .is-open & {
        transform: rotate(-45deg);
      }
    }
  }

  &__content {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    border-radius: inherit;
    padding: 0 30px;
    color: inherit;
    background-color: inherit;
    will-change: max-height;
    box-sizing: content-box;
    transition: all var(--transition-300);

    @include mobile {
      padding: 0 16px;
    }

    .is-open & {
      padding-bottom: 20px;
      opacity: 1;

      @include mobile {
        padding-bottom: 12px;
      }
    }
  }

  &__text {
    margin: 0;
    max-width: 1200px;
    color: inherit;

    @include mobile {
      font-size: 12px;
    }

    & p {
      margin: 0;
      &:not(:last-child) {
        margin-bottom: 1em;
      }
    }
    & a {
      text-decoration: underline;
      text-decoration-skip-ink: none;
      color: var(--accent-green);
    }
    & ol {
      margin: 0;
      padding-left: 1.5em;
    }

    img.emoji {
      width: 24px;
      height: 24px;

      @include tablet {
        width: 18px;
        height: 18px;
      }

      @include mobile {
        width: 14px;
        height: 14px;
      }
    }
  }
}
